/*  import google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap'); */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    cursor: url(https://github.com/PulkitSinghDev/PulkitSinghDev.github.io/blob/main/hi-from-pulkit-removebg-preview.cur), auto;
}


/* custom scroll bar */
::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-track {
    background: #f1f1f100;
}
::-webkit-scrollbar-thumb {
    background: #060303;
}

::-webkit-scrollbar-thumb:hover {
    background: #55555500;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0px 80px;
    margin: auto;
}
.about, .achievement, .skills, .teams, .contact, footer{
    font-family: "Audiowide", sans-serif;
}
.about .about-content,
.contact .contact-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;  
}
section .title{
    position: relative;
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
    margin-bottom: 60px;
    padding-bottom: 10px;
    margin-top: 40px;
    font-family: "Audiowide", sans-serif;

}
section .title::before{
    /* content: ""; */
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -55px;
    left: 50%;
    font-size: 20px;
    color: rgb(4, 154, 248);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900");
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(1, 65, 105);
    z-index: 9999;
  }
  .loader__layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:  rgba(4, 155, 248, 0.612);
    z-index: 100;
  }
  .loader__container {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 101;
  }
  .loader__container__counter {
    font-size: 140px;
    font-weight: 700;
    margin: 0;
  }
  .loader__container__loading {
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
  }
  
/* navbar styling */
nav{
    height: 7rem;
    width: 100vw;
    /* background-color: #13141800; */
    /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{

    padding:2vh 1vw;
    text-align: center;
}
/* .logo img {
    height: 10rem;
    width: 10rem;
} */

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #f1f1f1b9;
}
.nav-links li a:hover {
    color: #fff;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background-color: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 30%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        margin-top: -10vw;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: "Audiowide", sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(4, 154, 248);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo .hire{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo .hire span{
    color: rgb(4, 154, 248);
    transition: all 0.3s ease;
}
.navbar.sticky .logo .hire span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li .hire{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li .hire:hover{
    color: rgb(4, 154, 248);
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(4, 154, 248);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

  

.projects .title::after,
.teams .title::after{
background: #111;
    /* content: "what i provide"; */
}



/* teams section styling */
.teams{
    position: relative;
    background: url("https://thumbs.gfycat.com/BriefIgnorantBlackbuck-size_restricted.gif") no-repeat center;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Audiowide", sans-serif;
    color:#fff;
    height: 50vw;
    
}
/* .teams .title::after{
    content: "what people says about him";
} */
.teams h3{
    position: relative;
    margin-top: -42px;
    text-align: center;
    font-size: 30px;
}

.teams .elem-div{
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 40px;
justify-content: space-between;
    width: 80%;
    height: 20vw;
    margin-top: 20px;
    margin-left: 120px;
    /* background-color: #f1f1f1; */

}
.teams .image{
    display: flex;
    align-items: center;
    justify-content: center;
width: 120px;
height: 120px;
border-radius: 20px;
background-color: #fff;
}
.teams .image img{
    width: 90%;
    height: 90%;
}

.contact{
    position: relative;
    background: url("https://thumbs.gfycat.com/BriefIgnorantBlackbuck-size_restricted.gif") no-repeat center;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Audiowide", sans-serif;
    color:#fff;
    
}
.contact h3{
    position: relative;
    margin-top: -42px;
    text-align: center;
    font-size: 30px;
}
.contact .max-width .column {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    align-items: center;
    width: 80%;
    height: 8vw;
    /* background-color: #46C1F6; */
}
.wrapper{
    margin-top: 6vw;
    margin-left: 14vw;
    display: inline-flex;
  }
  .wrapper .icon{
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span{
    display: block;
    height: 100px;
    width: 100px;
    /* background: #fff; */
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    line-height: 100px;
    font-size: 50px;
  }
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    /* color: #fff; */
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span{
    color: #fff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before{
    background: #3B5999;
  }
  .wrapper .twitter:hover span,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip:before{
    background: #0077B5;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before{
    background: #E4405F;
  }
  .wrapper .github:hover span,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip:before{
    background: #333;
  }
  .wrapper .youtube:hover span,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip:before{
    background: #DE463B;
  }

.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #fff;
}

.contact .right button{
    margin-top: 120px;
    height: 47px;
    width: 170px;
    border-radius: 6px;
    background: rgb(4, 154, 248);

}
.contact .right button a{
    width: 100%;
    height: 100%;
    font-family:"Audiowide", sans-serif;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right button:hover{
    color: rgb(4, 154, 248);
    background: none;
}

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: rgb(4, 154, 248);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {

}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.deactive:before{
        /* content: "\f00d"; */
        color: #fff;
        display: none;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        /* color: #f1f1f1b9; */
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
   
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    canvas{
        display: none;
    }
    .max-width{
        padding: 0 23px;
    }
   
    .teams{
        height: 190vw;
    }

    .teams .elem-div {
        display: flex;
        /* flex-wrap: wrap; */
        align-items: center;
        gap: 1px;
        justify-content: space-between;
            width: 90%;
            height: 110vw;
            margin-top: 20px;
            margin-left: 20px;
            /* background-color: #DE463B; */
    }
    .teams .image{
        display: flex;
        align-items: center;
        justify-content: center;
    width: 85px;
    height: 85px;
    border-radius: 5px;
    background-color: #fff;
    }
    .teams .image img{
        width: 90%;
        height: 90%;
    }
    

    .contact .max-width .column {
        margin-left: 22px;

        height: 20vw;
    }
    section .title {
        position: relative;
        text-align: center;
        font-size: 45px;
        font-weight: 1000;
        text-align: center;
        margin-left: -8px;
        top: 32px;
    }

    .wrapper{
        position: relative;
        top: 30px;
        left: 10px;
        margin-top: 22vw;
        margin-left: -8vw;
        align-items: center;
        display: inline-flex;
      }
      .wrapper .icon{
        margin: 0 10px;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .wrapper .icon span{
        display: block;
        height: 60px;
        width: 60px;
        /* background: #fff; */
        border-radius: 50%;
        position: relative;
        z-index: 2;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .wrapper .icon span i{
        line-height: 50px;
        font-size: 20px;
      }
      .wrapper .icon .tooltip{
        position: absolute;
        top: 0;
        z-index: 1;
        background: #fff;
        /* color: #fff; */
        padding: 10px 18px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 25px;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }

      .wrapper .icon:hover .tooltip{
        top: -70px;
        opacity: 1;
        pointer-events: auto;
      }
      .icon .tooltip:before{
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background: #fff;
        left: 50%;
        bottom: -6px;
        transform: translateX(-50%) rotate(45deg);
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .wrapper .icon:hover span{
        color: #fff;
      }
      .wrapper .icon:hover span,
      .wrapper .icon:hover .tooltip{
        text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
      }
      .wrapper .facebook:hover span,
      .wrapper .facebook:hover .tooltip,
      .wrapper .facebook:hover .tooltip:before{
        background: #3B5999;
      }
      .wrapper .twitter:hover span,
      .wrapper .twitter:hover .tooltip,
      .wrapper .twitter:hover .tooltip:before{
        background: #46C1F6;
      }
      .wrapper .instagram:hover span,
      .wrapper .instagram:hover .tooltip,
      .wrapper .instagram:hover .tooltip:before{
        background: #e1306c;
      }
      .wrapper .github:hover span,
      .wrapper .github:hover .tooltip,
      .wrapper .github:hover .tooltip:before{
        background: #333;
      }
      .wrapper .youtube:hover span,
      .wrapper .youtube:hover .tooltip,
      .wrapper .youtube:hover .tooltip:before{
        background: #DE463B;
      }
    
}

@media (max-width: 500px) {


    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
} 

canvas {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 99990;
    pointer-events: none;
  }